
.title {
    font-size: 50px;
    background-image: linear-gradient(#290066,#4dffff);
    font-weight: 800;
    padding: 0 20px;
        color: white;
    text-align: center;
    font-family: 'Staatliches', sans-serif;
}
.intro{display: flex; justify-content:space-around;
}
.breif{display: flex; justify-content:space-around; font-family:sans-serif;font-weight:100; font-size:20px;
}
.code{display: flex; justify-content:flex-start;
}
.dw{display: flex; justify-content:flex-end ;}
.colums{display: flex; justify-content:space-around;
}
.projects{display: flex; justify-content:flex-start;
}
